{%extends 'base.html'%}

{%block title%}
  Добавление пользователя :: {{block.super}}
{%endblock%}

{%block sidebar%}
  {%include 'inc/_sidebar.html'%}
{%endblock%}

{%block content%}
 <h1>Добавление пользователя</h1>
 <form action = "{% url 'Add_human' %}" method = "post" style = "width: 1300px">
  {%csrf_token%}
  {{form.as_p}}
  <button type = "submit" class = "btn btn-primary btn block">Добавить</button>
  {{form.none_field.errors}}
 </form>
{%comment%}
 <form>
  <div class="form-group">
    <label for="{{form.Name.id_for_lable}}" class="form-label">Name: </label>
      {{form.Name}}
    <div class = "invalid-feedback">
    {{ form.Name.errors }}
    </div>
  </div>
  <div class="form-group">
        <label for="{{form.Surname.id_for_lable}}" class="form-label">Surname: </label>
        {{form.Surname}}
        <div class = "invalid-feedback">
        {{ form.Surname.errors }}
        </div>
  </div>
  <div class="form-group">
          <label for="{{form.Gender.id_for_lable}}" class="form-label">Gender: </label>
          {{form.Gender}}
          <div class = "invalid-feedback">
              {{ form.Gender.errors }}
          </div>
  </div>
  <div class="form-group">
          <label for="{{form.profession.id_for_lable}}" class="form-label">profession: </label>
          {{form.profession}}
          <div class = "invalid-feedback">
              {{ form.profession.errors }}
          </div>
  </div>
 </form>
{%endcomment%}

{%endblock%}
